In [2]:
import pandas as pd

### Series Data Structure

In [4]:
#This will generate the documentation
pd.Series?

In [5]:
x = pd.Series([1,2,3])
x

0    1
1    2
2    3
dtype: int64

In [6]:
y = pd.Series(['1','2',None])
y

0       1
1       2
2    None
dtype: object

In [7]:
z = pd.Series([1,2,None])
z

0    1.0
1    2.0
2    NaN
dtype: float64

In [7]:
import numpy as np

In [9]:
np.nan

nan

In [10]:
np.nan == np.nan

False

In [11]:
np.isnan(np.nan)

True

In [12]:
z.iloc[1]

2.0

In [13]:
y.loc[1] # here the index column label has to be given

'2'

In [14]:
%%timeit -n 100
s = pd.Series(np.random.randint(0,1000,100000))
(np.sum(s))
# the 100 in timeit specifies it will run this 100 times and average out the result

100 loops, best of 3: 1.17 ms per loop

In [15]:
%%timeit -n 100
ss = pd.Series(np.random.randint(0,1000,100000))
sum = 0
for i in ss:
    sum += i
(sum)

100 loops, best of 3: 5.96 ms per loop

In [16]:
series_1 = pd.Series({"name":"aman","age":"24","gender":"male"})
series_2 = pd.Series({"name":"aman2","age":"224","gender":"male"})
series_1.iloc[0]

'24'

In [17]:
df = pd.DataFrame([series_1,series_2])

In [18]:
df.iloc[0]

age         24
gender    male
name      aman
Name: 0, dtype: object

In [19]:
df.loc[0]

age         24
gender    male
name      aman
Name: 0, dtype: object

In [20]:
df.loc[0,'name']

'aman'

In [21]:
df.T

           0      1
age       24    224
gender  male   male
name    aman  aman2

In [22]:
df.T.loc['age']

0     24
1    224
Name: age, dtype: object

In [23]:
df.loc[:]

   age gender   name
0   24   male   aman
1  224   male  aman2

In [24]:
df.loc[:,['name']]

    name
0   aman
1  aman2

In [25]:
df.drop(0)

   age gender   name
1  224   male  aman2

In [26]:
df

   age gender   name
0   24   male   aman
1  224   male  aman2

In [27]:
newdf = pd.DataFrame([series_1,series_2],index=('entry 1','entry 2'))
newdf

         age gender   name
entry 1   24   male   aman
entry 2  224   male  aman2

In [28]:
newdf.drop?

In [29]:
newdf?

In [30]:
df.columns

Index([u'age', u'gender', u'name'], dtype='object')

In [40]:
df.set_index('name',inplace=True)
df

       age gender
name
aman    24   male
aman2  224   male

In [44]:
df = df.groupby(level=0)['age'].agg({'avgage':np.sum})

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

In [52]:
pd.cut(df['avgage'].astype('float'),2)

name
aman      (23.8, 124.0]
aman2    (124.0, 224.0]
Name: avgage, dtype: category
Categories (2, interval[float64]): [(23.8, 124.0] < (124.0, 224.0]]

In [4]:
carsdf = pd.read_csv('car_data.csv')

In [11]:
carsdf.head(10)

,Unnamed: 0,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,13495
1,2,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,16500
2,3,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,ohcv,six,152,mpfi,9.0,154,5000,19,26,16500
3,4,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,ohc,four,109,mpfi,10.0,102,5500,24,30,13950
4,5,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,ohc,five,136,mpfi,8.0,115,5500,18,22,17450
5,6,audi,gas,std,two,sedan,fwd,front,99.8,177.3,...,ohc,five,136,mpfi,8.5,110,5500,19,25,15250
6,7,audi,gas,std,four,sedan,fwd,front,105.8,192.7,...,ohc,five,136,mpfi,8.5,110,5500,19,25,17710
7,8,audi,gas,std,four,wagon,fwd,front,105.8,192.7,...,ohc,five,136,mpfi,8.5,110,5500,19,25,18920
8,9,audi,gas,turbo,four,sedan,fwd,front,105.8,192.7,...,ohc,five,131,mpfi,8.3,140,5500,17,20,23875
9,10,audi,gas,turbo,two,hatchback,4wd,front,99.5,178.2,...,ohc,five,131,mpfi,7.0,160,5500,16,22,?

In [13]:
carsdf.pivot_table(aggfunc=np.mean,columns='body_style',index='make')

               Unnamed: 0                                                  \
body_style    convertible     hardtop   hatchback       sedan       wagon
make
alfa-romero           1.5         NaN    3.000000         NaN         NaN
audi                  NaN         NaN   10.000000    6.200000    8.000000
bmw                   NaN         NaN         NaN   14.500000         NaN
chevrolet             NaN         NaN   19.500000   21.000000         NaN
dodge                 NaN         NaN   24.800000   27.000000   29.000000
honda                 NaN         NaN   34.571429   40.400000   37.000000
isuzu                 NaN         NaN   47.000000   45.000000         NaN
jaguar                NaN         NaN         NaN   49.000000         NaN
mazda                 NaN         NaN   57.300000   61.428571         NaN
mercedes-benz        73.0   72.500000         NaN   71.250000   69.000000
mercury               NaN         NaN   76.000000         NaN         NaN
mitsubishi            NaN         NaN   81.000000   87.500000         NaN
nissan                NaN   99.000000  102.800000   96.111111   98.333333
peugot                NaN         NaN         NaN  113.285714  112.500000
plymouth              NaN         NaN  121.250000  122.500000  124.000000
porsche             129.0  127.500000  128.000000         NaN         NaN
renault               NaN         NaN  132.000000         NaN  131.000000
saab                  NaN         NaN  135.000000  136.000000         NaN
subaru                NaN         NaN  140.000000  144.000000  148.500000
toyota              173.0  169.333333  165.928571  167.700000  161.750000
volkswagen          190.0         NaN  191.000000  187.444444  194.000000
volvo                 NaN         NaN         NaN  200.750000  198.000000

                 city_mpg                                            ...    \
body_style    convertible hardtop  hatchback      sedan      wagon   ...
make                                                                 ...
alfa-romero          21.0     NaN  19.000000        NaN        NaN   ...
audi                  NaN     NaN  16.000000  19.400000  19.000000   ...
bmw                   NaN     NaN        NaN  19.375000        NaN   ...
chevrolet             NaN     NaN  42.500000  38.000000        NaN   ...
dodge                 NaN     NaN  28.400000  28.666667  24.000000   ...
honda                 NaN     NaN  33.142857  26.600000  30.000000   ...
isuzu                 NaN     NaN  24.000000  33.333333        NaN   ...
jaguar                NaN     NaN        NaN  14.333333        NaN   ...
mazda                 NaN     NaN  23.700000  28.571429        NaN   ...
mercedes-benz        16.0    18.0        NaN  18.500000  22.000000   ...
mercury               NaN     NaN  19.000000        NaN        NaN   ...
mitsubishi            NaN     NaN  25.333333  24.000000        NaN   ...
nissan                NaN    31.0  22.600000  29.222222  26.333333   ...
peugot                NaN     NaN        NaN  22.714286  22.000000   ...
plymouth              NaN     NaN  27.750000  31.000000  24.000000   ...
porsche              17.0    17.0  18.000000        NaN        NaN   ...
renault               NaN     NaN  23.000000        NaN  23.000000   ...
saab                  NaN     NaN  20.333333  20.333333        NaN   ...
subaru                NaN     NaN  27.666667  26.800000  24.750000   ...
toyota               24.0    24.0  27.785714  29.100000  26.000000   ...
volkswagen           24.0     NaN  24.000000  30.000000  25.000000   ...
volvo                 NaN     NaN        NaN  21.125000  21.333333   ...

               wheel_base                                              \
body_style    convertible hardtop   hatchback       sedan       wagon
make
alfa-romero          88.6     NaN   94.500000         NaN         NaN
audi                  NaN     NaN   99.500000  102.120000  105.800000
bmw                   NaN     NaN         NaN  103.162500         NaN
chevrolet             NaN     NaN   91.450000   94.500000         NaN
dodge                 NaN     NaN   94.140000   93.700000  103.300000
honda                 NaN     NaN   92.471429   96.500000   96.500000
isuzu                 NaN     NaN   96.000000   94.433333         NaN
jaguar                NaN     NaN         NaN  109.333333         NaN
mazda                 NaN     NaN   95.690000   98.914286         NaN
mercedes-benz        96.6  109.35         NaN  115.525000  110.000000
mercury               NaN     NaN  102.700000         NaN         NaN
mitsubishi            NaN     NaN   94.933333   96.300000         NaN
nissan                NaN   95.10   94.700000   96.111111   96.466667
peugot                NaN     NaN         NaN  107.914286  114.200000
plymouth              NaN     NaN   94.250000   93.700000  103.300000
porsche              89.5   89.50   96.450000         NaN         NaN
renault               NaN     NaN   96.100000         NaN   96.100000
saab                  NaN     NaN   99.100000   99.100000         NaN
subaru                NaN     NaN   93.566667   97.120000   96.950000
toyota               98.4   98.40   97.900000   98.350000   97.900000
volkswagen           94.5     NaN   94.500000   97.988889  100.400000
volvo                 NaN     NaN         NaN  107.300000  104.300000

                    width
body_style    convertible hardtop  hatchback      sedan   wagon
make
alfa-romero          64.1     NaN  65.500000        NaN     NaN
audi                  NaN     NaN  67.900000  68.340000  71.400
bmw                   NaN     NaN        NaN  66.475000     NaN
chevrolet             NaN     NaN  61.950000  63.600000     NaN
dodge                 NaN     NaN  64.300000  63.800000  64.600
honda                 NaN     NaN  64.314286  64.580000  63.900
isuzu                 NaN     NaN  65.200000  63.000000     NaN
jaguar                NaN     NaN        NaN  69.933333     NaN
mazda                 NaN     NaN  65.490000  65.728571     NaN
mercedes-benz        70.5   71.15        NaN  71.350000  70.300
mercury               NaN     NaN  68.000000        NaN     NaN
mitsubishi            NaN     NaN  65.188889  65.400000     NaN
nissan                NaN   63.80  66.540000  64.555556  64.700
peugot                NaN     NaN        NaN  68.385714  68.400
plymouth              NaN     NaN  64.425000  63.800000  64.600
porsche              65.0   65.00  70.300000        NaN     NaN
renault               NaN     NaN  66.600000        NaN  66.500
saab                  NaN     NaN  66.500000  66.500000     NaN
subaru                NaN     NaN  63.600000  65.400000  65.400
toyota               65.6   65.60  65.114286  65.160000  64.325
volkswagen           64.2     NaN  64.000000  65.811111  66.900
volvo                 NaN     NaN        NaN  68.250000  67.200

[22 rows x 50 columns]

### Timestamp

In [15]:
pd.Timestamp('2019-04-05 11:09 PM')

Timestamp('2019-04-05 23:09:00')

### Period

In [16]:
pd.Period('2019-04-05')

Period('2019-04-05', 'D')